nodered_flow_project.txt
[{"id":"b398eb41.af3f58","type":"tab","label":"Flow 5","disabled":true,"info":""},{"id":"9ba79695.faedd8","type":"http request","z":"b398eb41.af3f58","name":"","method":"POST","ret":"obj","url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/8ac3af8b-681b-4024-9166-311eb6f50447/deployments/1ac4c6b2-0dbf-4f7d-a5c5-0551194b5ba9/online","tls":"","x":430,"y":60,"wires":[["75ffb504.9d502c","2caec2d0.efc40e"]]},{"id":"df074f4e.1b644","type":"function","z":"b398eb41.af3f58","name":"prediction","func":"var token=msg.payload.token;\nvar fixedacidity=global.get(\"fixedacidity\");\nvar volatileacidity=global.get(\"volatileacidity\");\nvar citricacid=global.get(\"citricacid\");\nvar residualsugar=global.get(\"residualsugar\");\nvar chlorides=global.get(\"chlorides\");\nvar freesulfurdioxide=global.get(\"freesulfurdioxide\");\nvar totalsulfurdioxide=global.get(\"totalsulfurdioxide\");\nvar density=global.get(\"density\");\nvar pH=global.get(\"pH\");\nvar sulphates=global.get(\"sulphates\");\nvar alcohol=global.get(\"alcohol\");\nmsg.payload={\"fields\":[\"fixedacidity\",\"volatileacidity\",\"citricacid\",\"residualsugar\",\"chlorides\",\"freesulfurdioxide\",\"totalsulfurdioxide\",\"density\",\"pH\",\"sulphates\",\"alcohol\"],\"values\":[[fixedacidity,volatileacidity,citricacid,residualsugar,chlorides,freesulfurdioxide,totalsulfurdioxide,density,pH,sulphates,alcohol]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":269,"y":124,"wires":[["9ba79695.faedd8"]]},{"id":"2caec2d0.efc40e","type":"debug","z":"b398eb41.af3f58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":830,"y":60,"wires":[]},{"id":"ebf1b030.c4973","type":"http request","z":"b398eb41.af3f58","name":"","method":"GET","ret":"obj","url":"https://us-south.ml.cloud.ibm.com/v3/identity/token","tls":"","x":470,"y":320,"wires":[["3d500de9.469472","df074f4e.1b644"]]},{"id":"4b184719.439488","type":"inject","z":"b398eb41.af3f58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":180,"wires":[["bcee2e38.5224b"]]},{"id":"bcee2e38.5224b","type":"function","z":"b398eb41.af3f58","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"5d84c453-2449-482b-9784-07bfc87097ee\"\nvar password=\"9f6d627a-1f89-47a9-9fa3-15405257458d\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"fixedacidity\",msg.payload.fixedacidity)\nglobal.set(\"volatileacidity\",msg.payload.volatileacidity)\nglobal.set(\"citricacid\",msg.payload.citricacid)\nglobal.set(\"residualsugar\",msg.payload.residualsugar)\nglobal.set(\"chlorides\",msg.payload.chlorides)\nglobal.set(\"freesulfurdioxide\",msg.payload.freesulfurdioxide)\nglobal.set(\"totalsulfurdioxide\",msg.payload.totalsulfurdioxide)\nglobal.set(\"density\",msg.payload.density)\nglobal.set(\"pH\",msg.payload.pH)\nglobal.set(\"sulphates\",msg.payload.sulphates)\nglobal.set(\"alcohol\",msg.payload.alcohol)\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":280,"wires":[["ebf1b030.c4973"]]},{"id":"75ffb504.9d502c","type":"function","z":"b398eb41.af3f58","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":140,"wires":[["2caec2d0.efc40e","a881d147.09d0e"]]},{"id":"3d500de9.469472","type":"debug","z":"b398eb41.af3f58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":340,"wires":[]},{"id":"95a365ba.844ea8","type":"ui_form","z":"b398eb41.af3f58","name":"","label":"","group":"3331646b.657dac","order":0,"width":0,"height":0,"options":[{"label":"fixedacidity","value":"fixedacidity","type":"number","required":true},{"label":"volatileacidity","value":"volatileacidity","type":"number","required":true},{"label":"citricacid","value":"citricacid","type":"number","required":true},{"label":"residualsugar","value":"residualsugar","type":"number","required":true},{"label":"chlorides","value":"chlorides","type":"number","required":true},{"label":"freesulfurdioxide","value":"freesulfurdioxide","type":"number","required":true},{"label":"totalsulfurdioxide","value":"totalsulfurdioxide","type":"number","required":true},{"label":"density","value":"density","type":"number","required":true},{"label":"pH","value":"pH","type":"number","required":true},{"label":"sulphates","value":"sulphates","type":"number","required":true},{"label":"alcohol","value":"alcohol","type":"number","required":true}],"formValue":{"fixedacidity":"","volatileacidity":"","citricacid":"","residualsugar":"","chlorides":"","freesulfurdioxide":"","totalsulfurdioxide":"","density":"","pH":"","sulphates":"","alcohol":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":380,"wires":[["bcee2e38.5224b"]]},{"id":"9e7b986d.72cd28","type":"ui_text","z":"b398eb41.af3f58","group":"3331646b.657dac","order":0,"width":0,"height":0,"name":"","label":"User Input","format":"{{msg.payload.yoe}}","layout":"row-spread","x":350,"y":400,"wires":[]},{"id":"a881d147.09d0e","type":"ui_text","z":"b398eb41.af3f58","group":"3331646b.657dac","order":0,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":180,"wires":[]},{"id":"3331646b.657dac","type":"ui_group","z":"","name":"Prediction","tab":"","disp":true,"width":"6","collapse":false}]